

.container {
    max-width: 400px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    height: 75vh;
    background-color: rgba(9, 9, 105, 0.8);
}

#header {
    overflow: scroll;
}

#start-reset {
    float: right;
    
}

.container #next {
    float: center;
    
}
